<%= link_to "Your Profile", current_user %>

<h1>Events</h1>
<%= link_to "Create Event", new_event_path %>

<% @events.each do |event| %>
    <div class="event-listing">
        <h3><%= link_to event.event_title, event %></h3>
        <p>Event happening on: <%= event.event_date %></p>
    </div>
<% end %>

<% if user_signed_in? %>
  <li>
    <%= link_to('Sign Out', destroy_user_session_path, data: { turbo_method: :delete }) %>
  </li>
<% else %>
  <li>
    <%= link_to('Sign In', new_user_session_path) %>
  </li>
  <li>
    <%= link_to('Sign Up', new_user_registration_path) %>
  </li>
<% end %>